body{
    background-color: #F9FAFE;
}
.blue-heading{
    margin-top: 95px;
    background-color: #0069FF;
    padding: 12px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blue-heading h1{
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}
.blue-heading i{
    color: white;
    font-size: 1em;
}
main{
    margin-top: 30px;
    display: grid;
    grid-template-areas: 
        "sidebar" "main"
        "footer" "footer"
    ;
    grid-template-columns: 1fr 7fr;
}
.sidebar{
    /* position: sticky;
    overflow-y: auto; */
    grid-area: sidebar;
    border-right: 1px solid #182746c8;
    /* height: 100vh; */
    padding: 0 45px;
    text-align: center;
}
.expand .img-1{
    width: 20px;
    color: #182746c8;
}
.expand .img-2{
    margin-top: -58px;
    width: 60px;
}
.expand p{
    font-weight: 600;
    font-size: .9em;
}
.sidebar-icons{
    padding-left: 30px;
    margin-top: -60px;
}
.sidebar-icons i{
    display: block;
    font-size: 1.3em;
    padding: 12px ;
}
.sidebar-icons div{
    /* padding: 12px 12px; */
    text-align: center;
    border-radius: 50%;
  }
.sidebar-icons div:hover{
    color: white;
    background-color: #0069FF;
}
.sidebar-icons img{
    display: block;
    padding: 12px;
}
.sidebar-icons img:hover{
    background-color: #0069FF;
    border-radius: 50%;
}
.main{
    /* grid-area: main;*/
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 70px;
}
.main h1{
    font-size: 1.4em;
    font-weight: 600;
}
.main p{
    font-size: .9em;
    padding: 10px 0;
    line-height: 1.3;
}
.main p a{
    color: #0069FF;
    text-decoration: underline;
}
.vmp{
    width: 64%;
}
.main strong{
    font-weight: bold;
}
.main h3{
    padding: 20px 0;
    font-weight: bold;
    font-size: 1em;
}
.droplet-type{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
.droplet-type-items{
    border: 2px solid #bbb9b992;
    border-radius: 15px;
    padding: 25px;
}
.droplet-type-items:hover{
    background-color: #1433D6;
    color: white;
}
.droplet-type-items p{
    line-height: 1.5;
}
.droplet-type-items p:hover{
    color: white;
}   

.droplet-type-name{
    display: inline;
    font-weight: 600;
    font-size: 1.1em;
}
.choose-cpu{
    padding: 30px 0 ;
}
.virtual-machine{
    display: none;
}
.mobile-logo{
    display: none;
}
@media (max-width: 1024px) {
       .blue-heading{
         margin-top: 120px;
       } 
       .nav-links li a{
        padding: 10px ;
        font-size: .9em;
    }
}
@media (max-width:927px) {
    .nav-links{
        display: none;
    }
}
@media (max-width: 766px) {
    .login, .signup, .banner{
        display: none;
    }
    .blue-heading{
        margin-top: 70px;
        padding: 12px 20px;
    }
    .blue-heading h1{
        display: none;
    }
    .virtual-machine{
        display: flex;
        width: 93%;
        justify-content: space-between;
        background-color: white;
        border-radius: 7px;
        padding: 10px;
        font-size: .8em;
    }
    .virtual-machine i{
        color: black;
    }
    main{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .droplet-type{
        display: block;
    }
    .droplet-type-items{
        margin-bottom: 20px;
    }
    .droplet-type-items-p{
        display: none;
    }
    .vmp{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .mobile-logo{
        display: inline;
        /* margin-left: -260px; */
        width: 60px;
    }
}
@media (max-width:450px) {
    nav .logo img{
        display: none;
    }
    nav{
        padding: 0;
    }
    .blue-heading{
        margin-top: 60px;
    }
    .mobile-logo{
        display: inline;
        /* margin-left: -260px; */
        width: 60px;
    }
    .virtual-machine{
        width: 85%;
    }
}
@media (max-width:380px) {
    .mobile-logo{
        display: inline;
        /* margin-left: -240px; */
    }
}